.thoughts {
    font-style: italic;
}

.small-scene-break {
    padding-top: 1em;
}

.epigraph {
    text-align: right;
}

.epigraph-source {
    text-align: right;
}

.quote {
    font-style: italic;
}

.verse {
    font-style: italic;
}

.linebreak {
    display: block;
    content: ""; /* Ensures it renders even if empty */
}

.authors {
    font-style: italic;
    font-size: 1.5em;
}

.translator {
    font-style: italic;
}
